*.class
*.log
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/logs/
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.g8

redeploy_penpen2.sh
app/controllers/ble/
public/ui/
public/widgets/
public/bo/
public/public/
ui/node_modules
ui/build/*

/pictures/*

node_modules/
fe/ui/node_modules/

application.log
/.bsp
app/cmd/email.txt
app/cmd/SendEmailCmdV3.scala
/staging/