*.class
*.log
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/logs/
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.g8

redeploy_penpen2.sh
app/controllers/ble/
public/ui/
public/widgets/
public/bo/
public/public/
ui/node_modules
ui/build/*

/pictures/*

node_modules/
fe/ui/node_modules/

application.log
/.bsp
app/cmd/email.txt
app/cmd/SendEmailCmdV3.scala
/staging/
.DS_Store
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
**/.bloop
.bsp/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea

.cursor

# ENSIME specific
.ensime_cache/
.ensime

.metals/
.ammonite/
metals.sbt
metals/project/

.vscode/
.cursor/

local.*

.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/node_modules
website/i18n/*
!website/i18n/en.json
website/.docusaurus
website/.cache-loader

project/metals.sbt
coursier

# Scala CLI

.scala-build/

# Sourcegraph specific
index.scip
CLAUDE.md
